*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:white;

}
    
   
nav{
    padding: 8px;
    height: 15vh;
    margin-left: 8%;
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul li{
    list-style: none;
    margin: 30px;
}

/* css for main section */
main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
}

.leftmain{
    width: 40%;

}
.leftmain h1{
    font-size: 60px;
}

.leftmain p{
    margin: 7% 0;
}
.leftmain button{
    padding: 12px 15px;
    border: none;
    background-color: #1c741c;
    color: white;
    border-radius: 7px;
    font-weight: 600px;
}

.rightmain{
width: 60%;
margin-left: 15%; 
}
 .rightmain img{
    padding: 9px;
 }
 

